/*------------------------------------|
|	Buttons                             |
|------------------------------------*/

.btn {
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  text-align: center;
  padding: 5px 25px;
  background-size: 300% 100%;
  border-radius: 150px;
  text-decoration: none;
  display: inline-block;
  line-height: 24px;
  border: 1px solid #fff;
  transition: all .5s;
  text-transform: uppercase;
}

.btn:focus {
  outline: none;
}

.link {
  font-weight: 500;
  padding: 5px 0;
  margin: 0 25px;
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
}

.link:first-of-type {
  margin-left: 0;
}
