.contact {
    .contact__inner {
        display: flex;
        flex-direction: column;

        @include mediaMin($main){
            flex-direction: row;
        }

        .contact__left, .contact__right {
            display: flex;
            flex-direction: column;

            @include mediaMin($main){
                width: 50%;
                max-width: 50%;
            }
        }
        .contact__left {
            order: 2;
            @include mediaMin($main){
                padding-right: 20px;
                order: 1;
            }

            .nf-form-cont {
                .nf-form-fields-required {
                    display: none;
                }

                textarea {
                    resize: none;
                }

                .ninja-forms-field:not([type="button"]) {
                    border: none;
                    border-bottom: 1px solid $colour-text-body;
                    background: $main-background;
                    color: $brand-green-light;
                }

                .ninja-forms-req-symbol {
                    color: $brand-pink;
                }

                .submit-wrap {
                    input {
                        background: $colour-text-body;
                        color:$brand-white;
                        cursor: pointer;
                        width: 100%;

                        @include mediaMin($main){
                            width: auto;
                        }

                        &:hover {
                            background: $brand-pink;
                            color:$brand-white;
                        }
                    }
                }

                .nf-error.field-wrap .nf-field-element::after {
                    background: $brand-pink;
                }

                .nf-error .ninja-forms-field {
                    border-color: $brand-pink;
                }

                .nf-error .nf-error-msg {
                    color: $brand-pink;
                }

                .nf-pass.field-wrap .nf-field-element::after {
                    color: $brand-green-med;
                }
            }
        }
        .contact__right {
            order: 1;
            @include mediaMin($main){
                order: 2;
                padding-left: 20px;
            }
        }
    }
}