.current-work {
    margin-bottom: 30px;
    .current-work__inner {
        display: flex;
        justify-content: center;
        grid-gap: 20px;
        flex-wrap: wrap;

        .current-work__job {
            display: flex;
            flex-direction: column;
            min-width: calc(33.33% - 13.33px);

            .current-work__job-image {
                width: 100%;
                height: 0;
                padding-top: calc(2 / 3 * 100%);
                overflow: hidden;
                position: relative;
                
                img {
                    height: 100%;
                    width: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    object-fit: cover;
                }
            }

            .current-work__job-copy {
                text-align: center;
                margin-top: 10px;
            }
        }

        .single-job {
            display: flex;
            flex-direction: row;

            .single-job__image {
                width: 50%;
                max-width: 50%;
                margin-right: 20px;

                img {
                    width: 100%;
                }
            }

            .single-job__copy {
                width: 50%;
                max-width: 50%;
                margin-left: 20px;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
        }

        .pair {
            width: calc(50% - 10px);
        }
    }
}