.work {
    margin-bottom: 30px;
    .work__inner {
        display: flex;
        justify-content: center;
        grid-gap: 20px;
        flex-wrap: wrap;

        .work__job {
            display: flex;
            flex-direction: column;
            min-width: calc(33.33% - 13.33px);
            cursor: pointer;

            .work__job-image {
                width: 100%;
                height: 0;
                padding-top: calc(2 / 3 * 100%);
                overflow: hidden;
                position: relative;
                
                img {
                    height: 100%;
                    width: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    object-fit: cover;
                }
            }

            .work__job-copy {
                text-align: center;
                margin-top: 10px;
            }

            .work__job-mask {
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: $main-background;
                opacity: 0.7;
                display: none;
                z-index: 2;
            }

            .work__job-modal {
                opacity: 1;
                display: none;
                z-index: 3;
                background-color: $main-background;
                width: 80%;
                position: fixed;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                box-shadow: 0px 12px 40px #00000029;
                padding: 20px;
                border-radius: 5px;
                overflow: hidden;
            }
        }

        .single-job {
            display: flex;
            flex-direction: row;
            cursor: default;

            .single-job__image {
                width: 50%;
                max-width: 50%;
                margin-right: 20px;

                img {
                    width: 100%;
                }
            }

            .single-job__copy {
                width: 50%;
                max-width: 50%;
                margin-left: 20px;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
        }

        .pair {
            width: calc(50% - 10px);
        }
    }
}