.work {
    margin-bottom: 60px;
    .work__inner {
        display: flex;
        justify-content: center;
        grid-gap: 20px;
        flex-wrap: wrap;

        .work__job {
            display: flex;
            flex-direction: column;
            width: 100%;

            @include mediaMin($main){
                min-width: calc(33.33% - 13.33px);
                width: calc(33.33% - 13.33px);
            }

            &:not(.active){
                cursor: pointer;
            }

            .work__job-image {
                width: 100%;
                height: 0;
                padding-top: calc(2 / 3 * 100%);
                overflow: hidden;
                position: relative;
                
                img {
                    height: 100%;
                    width: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    object-fit: cover;
                }
            }

            .work__job-copy {
                text-align: center;
                margin-top: 10px;

                h3 {
                    @include mediaMax($main){
                        padding-bottom: 0;
                    }
                }
            }

            .work__job-mask {
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: $main-background;
                opacity: 0.7;
                display: none;
                z-index: 2;
            }

            .work__job-modal {
                opacity: 1;
                display: none;
                z-index: 1000;
                background-color: $main-background;
                width: 90%;
                position: fixed;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                box-shadow: 0px 12px 40px #00000029;
                padding: 40px 20px;
                border-radius: 5px;
                overflow: hidden;
                height: 90vh;

                @include mediaMin($main){
                    width: 80%;
                    max-width: 1280px;
                    padding: 40px;
                    height: auto;
                    max-height: 480px;
                }

                .work__job-modal-close {
                    position: absolute;
                    right: 50%;
                    top: -32.5px;
                    font-size: 16px;
                    content: "";
                    background-size: contain;
                    cursor: pointer;
                    transform: translateX(50%);
                    -webkit-user-select: none; /* Safari */        
                    -moz-user-select: none; /* Firefox */
                    -ms-user-select: none; /* IE10+/Edge */
                    user-select: none; /* Standard */


                    @include mediaMin($main){
                        right: 0px;
                        top: 0px;
                        width: 20px;
                        height: 20px;
                        transform: translateX(0%);
                        width: 15px;
                        height: 15px;
                        background-image: url(/wp-content/themes/weldon/assets/img/icons/close-line.svg);
                        color: transparent;
                    }
                }

                .single-job__copy {
                    h3 {
                        width: calc(100% - 35px);
                    }

                    .single-job__copy-body {
                        overflow-y: scroll;
                    }
                }
            }
        }

        .single-job {
            display: flex;
            flex-direction: column;
            cursor: default !important;
            position: relative;

            @include mediaMin($main){
                flex-direction: row;
                width: 100%;
            }

            .single-job__image, .single-job__gallery {
                height: 0;
                padding-top: calc(2 / 3 * 100%);
                overflow: hidden;
                position: relative;
                margin-bottom: 20px;

                @include mediaMin($main){
                    width: 50%;
                    max-width: 50%;
                    margin-right: 20px;
                    padding-top: calc(2 / 3 * 50%);
                    margin-bottom: 0;
                }

                .slick-list {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                }

                .slick-track {
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    position: absolute;
                    top: 0;
                    left: 0;
                }
            }

            .single-job__controls {
                position: absolute;
                right: calc(50% + 20px);
                z-index: 1000;
                display: none;
                
                @include mediaMin($main){
                    display: flex;
                }

                span {
                    display: block;
                    height: 50px;
                    width: 50px;
                    background-color: #fff;
                    opacity: 0.5;
                    background-position: center;
                    background-size: 40px 40px;
                    background-repeat: no-repeat;
                    cursor: pointer;

                    &.single-job__controls-prev {
                        background-image: url(/wp-content/themes/weldon/assets/img/icons/line-angle-left.svg);
                    }

                    &.single-job__controls-next {
                        background-image: url(/wp-content/themes/weldon/assets/img/icons/line-angle-right.svg);
                    }
                }
            }

            .single-job__copy {
                overflow-y: scroll;

                @include mediaMin($main){
                    width: 50%;
                    max-width: 50%;
                    margin-left: 20px;
                    overflow-y: hidden;
                }

                .single-job__links {
                    @include mediaMax($main){
                        display: flex;
                        justify-content: center;
                        flex-wrap: wrap;
                    }
                }
            }
        }

        .pair {
            width: calc(50% - 10px);
        }
    }
}