.l-header {
    h1 {
        text-align: center;
        padding-bottom: 0;
        margin-top: 30px;
    }

    .nav {
        display: flex;
        justify-content: center;
        margin: 30px 0;

        .menu-item {
            padding: 0 60px;
        }
    }
}