//---------------------------------------
//	Base
//
// Defined basic styles or reset elements
//---------------------------------------

 // Selection colour
 ::-moz-selection {
   background: $brand-primary;
   color: $colour-text-body-light;
 }
 ::selection {
   background: $brand-primary;
   color: $colour-text-body-light;
 }

html {
  height: 100%;
}

body {
  font-family: $font-alpha;
  @include responsive-font-size(16px, 16px);
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: $colour-text-body;
  background-color: $main-background;
  width: 100%;
  margin: 0;
  overflow-x: hidden;
  overflow-y: scroll;
}

p {
  font-family: $font-alpha;
  @include responsive-font-size(16px, 16px);
  line-height: 1.45;
  letter-spacing: 0.5px;
}

@include mediaMax($laptop-s) {
  a,
  .ham,
  .select2-container {
    text-decoration: none;
    color: $colour-text-body;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
}

div {
  box-sizing: border-box;
}

*:focus {
  outline: none !important;
}


main {
  padding-top: 30px;
  position: relative;
  z-index: 8;
}

main {
  display: block;

  section {
    display: block;
  }

}

ul, ol {
  margin-top: 0;
}

a {
  color: $colour-text-body;
}

h1, h2, h3, p {
  margin: 0;
}

p {
  margin-bottom: 20px;
}

i {
  font-style: normal;
}

hr {
  margin: 0;
  border: 0;
  clear: both;
}

fieldset {
  border: 0;
  padding: 0;
  margin: 0;
}

strong {
  font-weight: 700;
}

.overflow--hidden {
  overflow: hidden;
}

.hidden {
  display: none;
}

// Imagery

.active {
  visibility: visible;
  opacity: 1;
}

.active + .modal {
  visibility: visible;
  opacity: 1;
  transform: translateY(50%) translateX(50%);
}

//--------------------
// BLazy vendor styles
//--------------------
.b-lazy {
  opacity:0;
  transition: all 0.7s cubic-bezier(0.7, 0, 0.3, 1);

  &.mask {
    opacity: 1;
    position: relative;
    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: $main-background;
      transition: transform 0.7s cubic-bezier(0.7, 0, 0.3, 1);
      z-index: 2;
    }
  }

  &.opacity {
    opacity: 0;
    &:after {
      display: none !important;
    }
  }
}
.b-loaded {
  opacity:1;
  transform: scale(1);

  &.mask {
    &:after {
      transform: translateX(-100%);
    }
  }

  &.opacity {
    opacity: 1;
  }
}

// Columns blocks

.columns__2 {
  column-gap: 60px;
  columns: 2;

  @include mediaMax($tablet-s) {
    columns: 1;
  }
}

.columns__3 {
  column-gap: 60px;
  columns: 3;

  @include mediaMax($laptop-s) {
    columns: 2;
  }

  @include mediaMax($tablet-s) {
    columns: 1;
  }
}
